menu "Application Configuration"

	choice DIRECTION
		prompt "Communication polarity"
		default SENDER
		help
			Select Communication polarity.
		config SENDER
			bool "USB to LoRa"
			help
				USB to LoRa.
		config RECEIVER
			bool "LoRa to USB"
			help
				LoRa to USB.
	endchoice

endmenu 
